@page "{id:int}/{selectedGenre?}"
@model practice.Pages.Books.EditModel
@{
}

<div>
	<h1>Editing a book</h1>

	<form method="post">
		<div hidden>
			<label class="form-label m-1" asp-for="Book.Id">Id</label>
			<input class="form-control m-1" asp-for="Book.Id" value="@Model.Book.Id" />
		</div>

		<div>
			<label class="form-label m-1" asp-for="Book.Title">Title</label>
			<input class="form-control m-1" asp-for="Book.Title" value="@Model.Book.Title" />
		</div>

		<div>
			<label class="form-label m-1" asp-for="Book.Author">Author</label>
			<input class="form-control m-1" asp-for="Book.Author" value="@Model.Book.Author" />
		</div>

		<div>
			<label class="form-label m-1" name="selectedGenre">Genre</label>

			<select class="form-select m-1" name="selectedGenre" value="@Model.Book.Genre">
				@foreach(var genre in Model.Genres)
				{
					<option value="@genre.Title">
						@genre.Title
					</option>
				}
			</select>
		</div>

		<div>
			<label class="form-label m-1" asp-for="Book.PublishingHouse">Publishing House</label>
			<input class="form-control m-1" asp-for="Book.PublishingHouse" value="@Model.Book.PublishingHouse" />
		</div>

		<div>
			<label class="form-label m-1" asp-for="Book.Year">Year</label>
			<input class="form-control m-1" type="number" asp-for="Book.Year" value="@Model.Book.Year" />
		</div>

		<div>
			<button class="btn btn-danger m-1">Add</button>
		</div>
	</form>
</div>